/*
    Paletada de Cores
        Vermelho:   #fe797b
        Laranja:    #ffb750
        Amarelo:    #ffea56
        Verde:      #8fe968
        Azul:       #36cedc
        Roxo        #a587ca

        Cinza       #f9f9f9     (Cor de fundo da barra de navegação)
                    #8f8f8f     (Cor do texto dos links da barra de navegação)
*/
